@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.articles * {
    font-family: 'Roboto', sans-serif;
}

.articles {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 820px !important;
}

.articles h2 {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.articles .article_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articles .card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 1px 20px 0 rgba(15, 15, 15, 0.10);
}

.articles .card_image {
    display: flex;
    min-width: 350px;
    height: 190px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.articles .card_image img {
    width: fit-content;
    height: auto;
}

.articles .card_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 15px 15px 25px;
    justify-content: space-between;
}

.articles .category {
    color: #ABA5C5;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.articles .title {
    color: #262625;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.articles .read_more {
    color: #6045CB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.2s;
}

.articles .read_more:hover {
    color: #7258ce;
}

.articles .rating {
    color: #ABA5C5;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.articles .visit_btn {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    background-color: #6045CB;
    text-decoration: none;
    padding: 8px 20px;
    transition: all 0.2s;
}

.articles .visit_btn:hover {
    background-color: #7258ce;
}

.articles .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .additional {
    display: flex;
    gap: 10px;
    align-items: center;
}